#STANDARD SETTINGS
sv_name "SERVER_NAME"
sv_max_clients 64
sv_max_clients_per_ip 2
sv_port 8303
sv_map "xPanic life"
sv_gametype xPanic
sv_register 1


#RCON PASSWORD
sv_rcon_password "PASSWORD"
sv_rcon_mod_password "MOD_PASSWORD"
sv_rcon_helper_password "HELPER_PASSWORD"


#OTHER SETTINGS
sv_exp_bonus 5
sv_emoticon_delay 0
sv_test_cmds 1
sv_warmup 15
sv_inactivekick 4
sv_spectator_votes 0
sv_timelimit 5
sv_new_hearth 0
logfile "autoexec_server.log"
sv_motd "Register with /register - PASSWORDS ARE STORED IN PLAINTEXT. DO NOT USE ANY PASSWORD YOU HAVE USED FOR OTHER SERVICES."


# VOTES SETTINGS
add_vote "|settings| Hearth crash wall on" "sv_destroywall 1"
add_vote "|settings| Hearth crash wall off" "sv_destroywall 0"
add_vote "|settings| Hearth new on" "sv_new_hearth 1"
add_vote "|settings| Hearth new off" "sv_new_hearth 0"
add_vote "|settings| Grenade jump on" "sv_grenade_jump 1"
add_vote "|settings| Grenade jump off" "sv_grenade_jump 0"
add_vote "|settings| Show your W/L end round on" "sv_show_statsendround 1"
add_vote "|settings| Show your W/L end round off" "sv_show_statsendround 0"

add_vote "|map| 4Ways" "change_map 4Ways"
add_vote "|map| Area-51" "change_map Area-51"
add_vote "|map| 4Ways" "change_map 4Ways"
add_vote "|map| Area-51" "change_map Area-51"
add_vote "|map| Beach-House" "change_map Beach-House"
add_vote "|map| Desert-panic" "change_map Desert-panic"
add_vote "|map| Depot2" "change_map Depot2"
add_vote "|map| ExtPanic" "change_map ExtPanic"
add_vote "|map| Final" "change_map Final"
add_vote "|map| Hallowen Castle" "change_map Hallowen Castle"
add_vote "|map| Ice-house" "change_map Ice-house"
add_vote "|map| littlePanic" "change_map littlePanic"
add_vote "|map| panic_minecraft" "change_map panic_minecraft"
add_vote "|map| panic_run" "change_map panic_run"
add_vote "|map| Pharao-Pyramid" "change_map Pharao-Pyramid"
add_vote "|map| Shelter by Rio" "change_map Shelter by Rio"
add_vote "|map| Tunnel" "change_map Tunnel"
add_vote "|map| xPanic life" "change_map xPanic life"
add_vote "|map| Zombierunx15" "change_map Zumbierunx15"


# ACCESS DDNET
access_level left 2
access_level right 2
access_level up 2
access_level down 2
access_level super 2
access_level unsuper 2
access_level tele 2
access_level totele 2
access_level totelecp 2
access_level logout 2
access_level ninja 2
access_level grenade 2
access_level shotgun 2
access_level rifle 2
access_level weapons 2
access_level unweapons 2
access_level unrifle 2
access_level unshotgun 2
access_level ungrenade 2
access_level unsolo 2
access_level undeep 2
access_level status 2

# commands for moderators only
access_level ban 1
access_level unban 1
access_level ban_range 1
access_level unban_range 1
access_level unban_all 1
access_level bans 1
access_level bans_save 1
access_level kick 1
access_level force_vote 1
