name: Compile server

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      
      - name: Install bam
        run: sudo apt install bam=0.4.0-5

      - name: Compile binary server file
        run: bam server_release
